.App {
  text-align: center;
  background: #fafafa;
}

.ant-card{
  margin: auto;
  top: -50px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: var(--primary-background-toright);
  height: 250px;
  padding: 40px;
  text-align: center;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.App-title {
  font-size: 1.5em;
  color: white;
  padding-top:20px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
:root{
  --primary-color: #536dfe; /* YML: #3A3EDD */
  --secondary-color: #a553fe; /* YML: #BF00F5 */
  --main-button-background: #8600eb; /* YML: #724ceb */
  --primary-background: linear-gradient(var(--primary-color), var(--secondary-color));
  --primary-background-toright: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
  --primary-background-progress: linear-gradient(90deg, var(--primary-color), var(--secondary-color), var(--secondary-color));
  /* teal-a200 */
}